*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0f172a;
color:white;
line-height:1.6;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
position:sticky;
top:0;
}

.nav-links{
display:flex;
gap:20px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:white;
}

.menu-toggle{
display:none;
}

/* HERO */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
}

.profile-img{
  width:150px;
  height:150px;
  border-radius:50%;
  margin:0 auto 20px;
  display:block;
  object-fit:cover;
}

.hero-content p {
  margin-bottom:25px;
}

.btn{
  background:#6366f1;
  padding:10px 20px;
  color:white;
  text-decoration:none;
  border-radius:5px;
  display:inline-block;
}

/* ABOUT */

.about{
padding:60px 20px;
text-align:center;
}

.about-container{
max-width:800px;
margin:auto;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
padding:40px;
}

.skill-card{
background:#1e293b;
padding:20px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-5px);
}

/* PROJECTS */

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.project-card{
background:#1e293b;
padding:20px;
border-radius:10px;
}

.project-card button{
margin-top:10px;
padding:8px 15px;
border:none;
background:#6366f1;
color:white;
cursor:pointer;
}

/* CONTACT */

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,textarea{
padding:10px;
border:none;
border-radius:5px;
}

/* CHATBOT */

.chat-btn{
position:fixed;
bottom:20px;
right:20px;
background:#6366f1;
padding:15px;
border-radius:50%;
cursor:pointer;
}

.chat-box{
display:none;
flex-direction:column;
position:fixed;
bottom:80px;
right:20px;
width:300px;
background:#020617;
border-radius:10px;
}

.chat-header{
padding:10px;
background:#6366f1;
}

.chat-messages{
height:200px;
overflow-y:auto;
padding:10px;
}

.chat-input{
display:flex;
}

.chat-input input{
flex:1;
padding:10px;
border:none;
}

.chat-input button{
padding:10px;
background:#6366f1;
border:none;
color:white;
}